<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:supportsRtl="true">
        <provider
            android:name=".RestLogInitProvider"
            android:authorities="${applicationId}.RestLogInitProvider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.NetworkSchedulerJobBuilder$NetworkSchedulerJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.SynchronizationJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.MoveLogsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DailyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.erc.log.DailyReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
